<app-menu></app-menu>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Editar Producto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="productoForm" (ngSubmit)="actualizarProducto()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="productoForm.get('nombre')?.hasError('required')">
          El nombre es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" maxlength="120" (input)="updateCharacterCount()">
        <mat-error *ngIf="productoForm.get('descripcion')?.hasError('required')">
          La descripción es requerida
        </mat-error>
        <mat-hint>{{ characterCount }} / 120</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoria" (selectionChange)="onCategoriaChange($event.value)">
          <mat-option value="Mujer">Mujer</mat-option>
          <mat-option value="Hombre">Hombre</mat-option>
          <mat-option value="Niño">Niño</mat-option>
          <mat-option value="Huerta">Huerta</mat-option>
          <mat-option value="Emprendimientos">Emprendimientos</mat-option>
        </mat-select>
        <mat-error *ngIf="productoForm.get('categoria')?.hasError('required')">
          La categoría es requerida
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option *ngFor="let tipo of tiposDisponibles" [value]="tipo">{{tipo}}</mat-option>
        </mat-select>
        <mat-error *ngIf="productoForm.get('tipo')?.hasError('required')">
          El tipo es requerido
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle matInput formControlName="activo">Rango de precio</mat-slide-toggle>
      
      <mat-form-field appearance="fill">
        <mat-label>Precio Minimo</mat-label>
        <input matInput formControlName="precio" type="number" min="0" step="0.01">
        <mat-error *ngIf="productoForm.get('precio')?.hasError('required')">
          El precio es requerido
        </mat-error>
        <mat-error *ngIf="productoForm.get('precio')?.hasError('min')">
          El precio no puede ser negativo
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="productoForm.get('activo')?.value">
        <mat-label>Precio Maximo</mat-label>
        <input matInput formControlName="precio2" type="number" min="0" step="0.01">
        <mat-error *ngIf="productoForm.get('precio2')?.hasError('min')">
          El precio no puede ser negativo
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Video Url</mat-label>
        <input matInput formControlName="videoUrl">
      </mat-form-field>
      <div formArrayName="productoImagenes">
        <div *ngFor="let imagen of productoImagenes.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Imagen URL</mat-label>
            <input matInput formControlName="imagenUrl" placeholder="URL de la imagen">
            <img [src]="imagen.get('imagenUrl')?.value" alt="Imagen" style="width: 300px; height: 300px; margin-top: 10px;">
            <mat-error *ngIf="productoForm.get(['productoImagenes', i, 'imagenUrl'])?.hasError('required')">
              La URL de la imagen es requerida
            </mat-error>
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="eliminarImagen(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button mat-raised-button color="primary" (click)="agregarImagen()">Agregar Imagen</button>
      </div>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
        <button mat-button (click)="router.navigate(['/productos'])">Cancelar</button>
        <button mat-raised-button color="warn" (click)="eliminarProducto()">Eliminar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
