<app-menu></app-menu>
<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Iniciar Sesion</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="form-custom" [formGroup]="formLogin">
                <mat-form-field class="input-custom">
                    <mat-label>Correo</mat-label>
                    <input type="email" matInput formControlName="correo"
                           placeholder="Ej: pedrosanchez@gmail.com">
                    
                  
                  </mat-form-field>
                  <mat-form-field class="input-custom">
                    <mat-label>Clave</mat-label>
                    <input type="password" matInput formControlName="clave">
                  </mat-form-field>
                  <div class="flex">
                    <button mat-flat-button color="primary" (click)="iniciarSesion()">Iniciar Sesion</button>
                    <button mat-flat-button color="warn" (click)="registrarse()" style="margin-left:8px">Registrarse</button>
                  </div>

            </form>
        </mat-card-content>
      </mat-card>
      
      
</div>