.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a53ae; /* Color de fondo azul */
    padding: 0 20px; /* Espaciado interno */
  }
  
  .logo {
    height: 40px;
    margin-right: 16px;
  }
  
  .username {
    font-size: 18px;
    color: white; /* Color del texto */
    text-align: left;
    margin-right: 70%;

  }
  
  .menu-items {
    display: flex;
    gap: 20px; /* Espacio entre los items del menú */
    
  }
  
  .menu-items button {
    color: white; /* Color del texto */
    display: flex;
    align-items: center;  
  }
  
  .menu-items mat-icon {
    margin-right: 8px; /* Espacio entre el icono y el texto */
  }
  